@import '../../variables';

.chatInput {
	height: 8vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 8);
	display: flex;
	align-items: center;
	justify-content: center;
	form {
		width: 94%;
		position: relative;
		input {
			border-radius: 5px;
			border: 1px solid $color-light-grey;
			font-size: 1.2em;
			height: 5vh; /* Fallback for browsers that do not support Custom Properties */
			height: calc(var(--vh, 1vh) * 5);
			width: 100%;
			box-sizing: border-box;
			padding-left: 12px;
			padding-right: 35px;
		}
		span {
			position: absolute;
			font-size: 18px;
			color: $color-grey;
			top: calc(50% - 11px);
			right: 11px;
		}
	}
}
