@import '../../variables';

.userlistentry {
	width: 100%;
	height: 8vh;
	display: table;
	border-bottom: $border-style-tabs;
	p {
		display: table-cell;
		vertical-align: middle;
		padding-left: 5vw;
	}
}
