.scrollContainer { 
  overflow-y: auto;
  height: 96%;
  width: 98%;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 5px;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
}

 
/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #353535; 
  border-radius: 16px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #dadada; 
}