$color-light-grey: #dadada;
$color-grey: #9da2aa;

$color-message-link: #098aed;
$color-message-sender: #00002c;
$color-chat-window: white;
$color-page-background: #ebebeb;

$border-style-tabs: 1px solid $color-light-grey;

$chatwindowWidth: 800px;
